
<div class="col-md-12">

    <h1>Agregar Motocicleta</h1>

    <form class="col-md-5 ml-0 pl-0" #new_motorcycle_form="ngForm" (ngSubmit)="on_submit(new_motorcycle_form)">
        <div class="form-group">
            <label for="model">Modelo (model)</label>
            <input type="text" name="model" class="form-control" #model="ngModel" [(ngModel)]="motorcycle.model" required>

            <small *ngIf="!model.valid && model.touched" class="invalid-feedback d-block">
                El modelo no es valido
            </small>
        </div>

        <div class="form-group">
            <label for="min_price">Precio minimo (min_price)</label>
            <input type="number" name="min_price" class="form-control" #min_price="ngModel" [(ngModel)]="motorcycle.min_price">
        </div>

        <div class="form-group">
            <label for="max_price">Precio maximo (max_price)</label>
            <input type="number" name="max_price" class="form-control" #max_price="ngModel" [(ngModel)]="motorcycle.max_price">
        </div>

        <div class="form-group">
            <label for="onsale">En venta (onsale)</label>
            <input type="number" name="onsale" class="form-control" #onsale="ngModel" [(ngModel)]="motorcycle.onsale">
        </div>

        <div class="form-group">
            <label for="stock_quantity">Cantidad en stock (stock_quantity)</label>
            <input type="number" name="stock_quantity" class="form-control" #stock_quantity="ngModel" [(ngModel)]="motorcycle.stock_quantity">
        </div>

        <div class="form-group">
            <label for="stock_status">Estado en stock (stock_status)</label>
            <input type="text" name="stock_status" class="form-control" #stock_status="ngModel" [(ngModel)]="motorcycle.stock_status">
        </div>

        <div class="form-group">
            <label for="rating_count"> (rating_count)</label>
            <input type="number" name="rating_count" class="form-control" #rating_count="ngModel" [(ngModel)]="motorcycle.rating_count">
        </div>

        <div class="form-group">
            <label for="average_rating"> (average_rating)</label>
            <input type="number" name="average_rating" class="form-control" #average_rating="ngModel" [(ngModel)]="motorcycle.average_rating">
        </div>

        <div class="form-group">
            <label for="total_sales">Ventas totales (total_sales)</label>
            <input type="number" name="total_sales" class="form-control" #total_sales="ngModel" [(ngModel)]="motorcycle.total_sales">
        </div>

        <div class="form-group">
            <label for="tax_status">Estado de impuestos (tax_status)</label>
            <input type="text" name="tax_status" class="form-control" #tax_status="ngModel" [(ngModel)]="motorcycle.tax_status">
        </div>

        <div class="form-group">
            <label for="tax_class"> (tax_class)</label>
            <input type="text" name="tax_class" class="form-control" #tax_class="ngModel" [(ngModel)]="motorcycle.tax_class">
        </div>

        <div class="form-group">
            <!-- <label for="image"> (image)</label> -->
            <!-- <input type="text" name="tax_class"> -->
        </div>

        <!-- Para poner el boton desabilitado cuando no son validos 62 -->
        <input type="submit" value="add-motorcycle" class="btn btn-success">

    </form>

</div>



